fieldset {
	text-align: center;
}

canvas {
	padding-left: 6px;
	padding-right: 6px;
}

textarea {
	margin-top: 10px;
	width: 100%;
}

body {
	padding-top: 40px;
}

.navbar .brand {
	margin-left: 0;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}