fieldset {
	text-align: center;
}

canvas {
	padding-left: 6px;
	padding-right: 6px;
}

body {
	padding-top: 40px;
}

.navbar .brand {
	margin-left: 0;
}

textarea {
	width: 100%;
}

.CodeMirror {
	margin-top: 10px;
	border: 1px solid #eee;
	height: auto;
}
.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}